.Header {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Header__title {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 375px) {
  .Header {
    padding: 2rem;
  }
}
